<nav id="nav">
    <h2 id="logo">FLIX</h2>
    <h2 id="nav-header">
        {% if 'username' in session %} Hello, {{ session['username'] }}
        {% endif %}
    </h2>
    <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
    <a class="btn-nav" href="{{url_for('authentication_bp.register')}}">Register</a>
    <a class="btn-nav">Login</a>
    <a class="btn-nav">Logout</a>

    <div>
        <h3>
            <a class="btn-nav" href="{{ url_for('movies_bp.search') }}">
                Search
            </a>
        </h3>
    </div>

    <div>
        <h3>
            <a class="btn-nav" href="{{ url_for('movies_bp.movies_by_letter') }}">
                Browse by Letter
            </a>
        </h3>
    </div>
    {% include 'footer.html' %}
</nav>