<aside id="sidebar">

    <header>
        <h1>Watch List</h1>
    </header>
    {% if 'username' in session %}
        {% for movie in watchlist %}
            <div id="movie-container">
                <a href="{{url_for('movies_bp.movie', movie_id=movie.id)}}"><h3 id="movie-title">{{ movie.title }} ({{ movie.year }})</h3></a>
                <div id="movie-description">
                    <span>Staring:</span>
                    {% for actor in movie.actors %}
                        <span>{{actor}} &nbsp  </span>
                    {% endfor %}
                </div>
            </div>
    {% endfor %}
    {% else %}
        <p id="not-logged">Must be logged in to access watch list </p>
    {% endif %}
</aside>