@import url('https://fonts.googleapis.com/css?family=IBM Plex Serif');

* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'IBM Plex Serif';
}

body,
html {
  height: 100%;
}

h1 {
    text-align: center;
    font-weight: bold;
}


.btn-nav {
  padding: 10px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  color: #000000;
  display: block;
}

.btn-nav:hover {
  background-color: #990000;
  color: #fff;
}

.btn-general {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    float:left;
}

.btn-general-disabled {
    background-color: #b30000;
    border: none;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    float:left;
    #opacity: 0.6;
}

.btn-general:hover {
    background-color: #bfbfbf;
    color: black;
}

.movie-link:hover{
    color: red;
}

.movie-link h3:hover{
    color: red;
}

.textarea {
    width: 100%;
    overflow: auto;
    word-break: break-all;
}

#body {
  min-height: 100%;
  margin-bottom: -60px;
  font-size: medium;
}

#header {
  padding: 20px;
  background: #ffffff;
  border-bottom: 1px solid #e0e4e8;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

#content-2 {
  height: 100vh;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: row;
}

#nav {
  width: 200px;
  height: 100%;
  background: #cc0000;
  padding: 30px 0px;
  position: fixed;
}

#nav-header {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 12px;
}


#footer {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  font-size: small;
  text-align: center;
  word-wrap: break-word;
}

#main {
  margin: 20px;
  color: #717171;
  line-height: 25px;
  padding: 10px;
  width: 66.666667%;
}


#sidebar {
    background-color: #4d4d4d;
    color: #717171;
    width: 33.333333%;
    min-height: 100vh;
    height: 100%;
    padding: 20px;
    border-bottom: 1px solid #e0e4e8;
}


input[type='text'],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

input[type='password'],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

input[type='submit'] {
    width: 100%;
     background-color: #ff0000;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

input[type='submit']:hover {
    background-color: #bfbfbf;
    color: black;
}

#logo {
  font-size: 30px;
  text-align: center;
}

#letter-link{
  padding: 0px 10px;
}

#letter-header{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

#movie-header{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

#movie-content{
  font-weight: bold;
}

#not-logged{
  text-align: center;
}